<h1 class="title">Bingeworthy TV Shows</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-7613-3662.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABft7cG56_SaeA1ddLnGBeJVXooR0ntxbFNFBm1t_iVcWt2rMzJWBy_USVFJWcIJCDhc4Am6XBzP6E2A-cG5FBqQklXDwabsPeRUgNpmnFuVs0LdbXl8YfN3xBNQtDEPfAJB-qg.jpg?r=3f5" alt="Money Heist">
    <h1>Money Heist</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3662.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWof9YVzrtr67WTdjBVTe4GrNW0fHjmbclHAxLNoANKPjTRQtUfBG5X-jblfVeoCCckCiom3TKmBfnPu7wNzLRoPlrnCABa9vjdhRi68oeskiLhLJADD92m67pe9mYvFmiQaCw.jpg?r=627" alt="Avatar: The Last Airbender">
    <h1>Avatar: The Last Airbender</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-7613-3662.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABcuIv0EVuw_tkOBgPwyK1Xy1El28XVWN9qamI-fZFvSoEhiGQ5MlsuAT48fNTSQKrteYuonRc7nvPBIhyZogvfnTcyF_3yMrsnDhP5JwUeyd6KfNLllsy17L_W8BAKLCAAKV0-BuWVvs_Q7mEUiCzKm0uFmbvt0SW1q1q6FfgA8wwEf6GyWQOfLIGdSifc9J2woNMcOXCCzOtdVy9CSo9hHoUPtat_3Z_djm.jpg?r=94b" alt="Stranger Things">
    <h1>Stranger Things</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3662.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABeyMU8BddnjoNbkXY6twGWqlXZC5jhspmTAuw53GwhJu_ZwqIlIEIDD99VeJTocVHPJ2fBddD92OlAook-_47hnBcprJJWshp_4Y31PAx-DIgQNR7Cy_QD_rn7MnBq2TLNKs6Q.jpg?r=df5" alt="ONE PIECE">
    <h1>ONE PIECE</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3662.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXUCgQ1ILqS8C09Vo1nbKo9n4xB2cj05l1Qg4y7GKiKF9ljcLEYMSaIg5u-oytOinadDfwJCW89KpqpBZXr_9SV_npunJ-77Y2zV_vP8odTgz_bw6EIJ-XduT2AGhA5YoJAtAd6iwK20BwBQUZwHgjyPXHiXdQtDCn4p5Fs6igwgPj3bc4F-Zf38GdMfsGlsmVKZ-XtVHwnxkRpv8vKNtffqn3SB4_w61or9.jpg?r=f17" alt="Wednesday">
    <h1>Wednesday</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-7613-3662.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZ3dPcdbJ6mG7wNm308yvYxHKUxUhrpOB4lVNk459-PXPogLW9fZgeqrxDVrBZccUZkK3Nyh42UaHzlGZxnRx_AkyjF0YWG16jljjXz9zgtRGhc3k5kIpPkM8jjgBxJ8zGpSCA.jpg?r=0af" alt="The Witcher">
    <h1>The Witcher</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3662.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVfhKUP3VEWwDJpKZXcx0J9-B2zcMUffexCdQJrBJ5M7cxfVmZx8WpIa3U7Wmq1WNrzoUTZV3eZEK59lVuHLIHpS609gVv11MV8uttJRzOhIVEl7dhkrsIiJ6V__vEsiWkxJjQ.jpg?r=184" alt="Delhi Crime">
    <h1>Delhi Crime</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-7613-3662.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWtdumyU7davRGCdg30mnKjbMNKx1-7KnBwVlEyumNy9l6n6Yc-cxRucBYEUuls4BMReBnM_PGytHCb64n3XPVA-k0HC82hNpqCAElE4cAouZWp4NTONwrtdmXwTbVBYs9vKuw.jpg?r=10e" alt="All of Us Are Dead">
    <h1>All of Us Are Dead</h1>
  </div>

</div>
