<h1 class="title">Comedy Movies</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABe9se4nLHGFr5JvWOhaLcefjwquSqzV5bSR_JIv8IzM4ntaZWdPTNcyk4Y8jHYnMepbHH_0qCbiyxDE_GAz9A8uRRIMy1GFx0zhTSn51fNI2Zgk98EIEdp3HUlFJMOwslWtPcw.jpg?r=c56" alt="Inspector Zenda">
    <h1>Inspector Zende</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABSDr-oBR70eiS2hb8ATvKHfuxLa5oavkTnc2p6mungZ7smhTyutWi59Kpqj2-ZnVIDUdqN5AMpS6ciK0afJeoXsoFmEmSdoQVO4GvLZbquHK2vZQBZsS1PXHZ6oozHvIBidBWg.jpg?r=4a4" alt="Wild Wild Punjab">
    <h1>Wild Wild Punjab</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABRd4Rw4mTIyrhqlt21QrKSNIuNSadIPCnJ0mlzqjLEvjwWdHNerdITqsh9rZJT-qA56EGnXasbg0i_V-o_-_xxgFL9jokV7hgUMlYejonVnXFlmeCttl-3hd-hxKPJ6dEiS2Lw.jpg?r=1c2" alt="Maa Behen">
    <h1>Maa Behen</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQ8lKp9DHMHDRx-k4CeTa2cDXbztwWo8HD5szgs-Dmhxp7jnhGPcup4j6Jx3GWoq6M-2_O8aLL4cWqyY9psOXU6vIPhjZxd4EN8cBkXxlYpqU9T0z0cfURTja15H5gjVRHcvIg.jpg?r=106" alt="Kathal - A Jackfruit Mystery">
    <h1>Kathal - A Jackfruit Mystery</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABcXri8WA-HRwnwGllcVWIeGOhw81zOw9livHFSf4L_x-o7jvtRNJr75uhQjUHKxJge-edz8uwQQf8qDhC_uqFV33rsrGieznu4lk3IfwpPXtpNsyhhHvxz5Ms5UOGVJ-2PPQ1g.jpg?r=6b6" alt="Lift">
    <h1>Lift</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABdLr1Hy_TIbtEGNbCyz_nEgzLArtMzX_fZ9Z26jX-JwX1nbOHxdCDv2tynEGAFJoQoexs69NsKvZbllcaeQkT9p-Ixd0TAMlWKscjW7mEHuZuhqYuJfzhFggQdZhh3NwSGpvzQ.jpg?r=671" alt="Minnal Murali">
    <h1>Minnal Murali</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABW-4ee6O2WXYdT9IRMRs-vvaSC9EzedmVWKr6seXdoH-EGCjVh-yt3-te9VJ0cBmJyFcNcCknzmG3AiBW9NObtRb2lluRZYbfFsX5y2y9V5LMVMofUL2JhAvMVWAcvzkCVLSbg.jpg?r=0fc" alt="Joe's College Road Trip">
    <h1>Joe's College Road Trip</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABfPjI5rJoJA0wVzNlisZ6BONEvNcv1OWi79VaCYyd5LVY1mnbqm39J9YFUiiorgY9l-6EacLHrsDuS_d_IWPNQhdqcHuFBlcToDNsCHpXMQRaRJ8WmFTg3K8uMsS3sOIMK2TGA.jpg?r=7e7" alt="Toaster">
    <h1>Toaster</h1>
  </div>

</div>
