<h1 class="title">Critically Acclaimed TV Shows</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYB8wkSsh42SJI2btl0mCX18zow4j7aoTe2F5plFt5q59jBaQTdKeDpcYR8IvSh78xz630fZvYV392tHI-j0kz00sOnWwVCeM_mXKEeTDNVh0WnuN9L7TsWMCeAK2_1oU2LB2A.jpg?r=590" alt="Khakee: The Bihar Chapter">
    <h1>Khakee: The Bihar Chapter</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABY7ejHuwDs7GEWgMGY-XSUfM9NVbYCJAAVUEvoKcIaHItmPh44ZptcCCQnCMxKzraUompAxvsAQMrsGy4k1mPxrz6FK4mEx7jGCNqXM7osPin2goiudZMPAQ6OLrtZlnACy9aA.jpg?r=1a1" alt="Vikings: Valhalla">
    <h1>Vikings: Valhalla</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABTm_VnpO86aeOZNXKfFEgo653xm4GiH9zvYoCL4EnjJKYMyfsCHYNHZZ4wZ--CWEbOrKQfGdOtJiygDu_Ptoijs8Ah1Nroz_uCa-wooAsz02CptHplzzjKUi9R4JBvteqczcWw.jpg?r=8f8" alt="Jamtara - Sabka Number Ayega">
    <h1>Jamtara - Sabka Number Ayega</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABf2gl4QMLIst896sOdjUYDhyVHhq8iwXv6ITKyqKkRehQfC1dLHv1RBVCG6Xe70-wy6Na4YXp5FG0XXPYlgDSrBiA4GZBv1jzYBcz31xB7Kg69dFNJdb8EGyH7YyeHHSTgGZZA.jpg?r=aaa" alt="Narcos">
    <h1>Narcos</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABfkQ2evVyk5y_Htm5nJpsSRaso9G-XF1FIrzdAcd-QXaBGXSTjkFX_OB2EC6x63Klob2jfZs9bb97-VLUD4acAyHyQ8JWiZ5uWoQUqPUnTObczm1sN2JsHnyltNfa6ldX6kPjw.jpg?r=eaa" alt="Glory">
    <h1>Glory</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABfxvEpo1DwPnb4lgD-Lt5caORrlxov30xoBQPYp7TT4yBinfA1c99K4zyPiJNt15cRfkv8WcB-RrnTq6Cx2Z5465Oo-f6rh2HVvehGpR2Qkgsfc5Vt_IbgBEc2Tho3feji8tbA.jpg?r=385" alt="The Last Kingdom">
    <h1>The Last Kingdom</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABUmHox7mQK-JD1OeRXnwGSFB_Z3_ia2wntLHYmOf6ZHR4M5ug1rVT_N1nt1HV7bFfN0m9AJTY8aDKpPGFm6MhdegFuMDisqRsp-Zw3wE4UQNJHBdzJoRpZuzCDO9J7aFyVRn2Q.jpg?r=fbd" alt="Khakee: The Bengal Chapter">
    <h1>Khakee: The Bengal Chapter</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZu_feVlk9t2WqXtSgXKtGB6-YRfHyqbBGbQR6bKwz4W3IkM4XWGuh2OvoUfZNLOir1xm0yVyGLz4Q_M0feoC4OUGAcXCsOC8zGp68cWOiqm6CsHiXSwYLwtvBcKyJnxHoIqGw.jpg?r=3be" alt="Tigger">
    <h1>Tigger</h1>
  </div>

</div>
