<div class="movies-container">
    <h2>Indian TV Dramas</h2>
    <div class="movie-list">
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
    </div>
