<h1 class="title">Romantic Movies</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABV7AVpkM6xJChrVb3YeswO31BYa-yh49dJ3CJzZhKuOv3eLUQT_oZbNcX6eZgYbMHn-aXGat7SOXY7dTW9Y-75UTIscnCq4tD9wtO1z5_ZeXN_AliWZqrisK4P3KU4ZJRmDuIg.jpg?r=a0a" alt="Haseen Dillruba">
    <h1>Haseen Dillruba</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABW7FOCFuok9oy4bZ_NR056bwFHMdQtLFTsXVmMZS0umab2XL4rOVoOes-dVkmVSinHLybB9FhuUiAv7MqAlrpkUbGH-mhMsb5V8dUCiHV9oyPO5yov2QgCi5LdJmE-geeHLpRg.jpg?r=369" alt="Voicemaills for isabelle">
    <h1>Voicemaills for isabelle</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABanOwyCQozCvjb5fKq8eyMU5g7bls5mCzlMFoQU9FoZAzEH6VbLWQ-cJJDqqIDcp-vmfFaY-cwDzEjDClWeIbJ4dznB5zKdl98EPKooblu-DgE7uByn92qUPTv3NGrRCQ7XHiQ.jpg?r=2e7" alt="Ginny Weds Sunny">
    <h1>Ginny Weds Sunny</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZS01BfR8LZdvlTy5V-d7LOgTBJesFhNcXXnGMzhQOJ84Xkrqh3B-ZWZIbQGVB42sDaydsSP-AIGXG80GNYxqLcoTl5ozQ2VyH66Z6taorRFDceo4433UkFV6NIfPdQhaAXw5g.jpg?r=ead" alt="Phir Aayi Hasseen Dillruba">
    <h1>Phir Aayi Hasseen Dillruba</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXEOQVHKmec4RYH3Ug1newmDIB31BtPd8pHMovpZEf9AKcxcTEZU-DRMIhWVWt-y-8C35oErUXZI4gnsYAK5JtkGpLfxLYU6YYjqI0_F277hhLkOHt4sq1samhbQGclG-SBq1YFefDfmttxuheUAoqrzIsnAbiOLazZFWAnkbJmdYYbtmKZC0tW10B6gI1F1QiJKLBPRgvVf9F9KDFmp2EIb43Ni3jtOc7aP.jpg?r=9fe" alt="People We Meet on Vacation">
    <h1>People We Meet on Vacation</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZKDH5zH6D19xUy6RuEkhOSGjMy99QZgY8nSdI1Sf2c_XyrqTfP_CX1L9uXUetnat4upy4SAwxvbgjbZr7D8TAt-3HYdJuJNn5IOEz9kZqnW1bISxDroVMaWwcmG0ZD91akaVw.jpg?r=de8" alt="Purplle Hearts">
    <h1>Purple Hearts</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXmWBlRrfNHnBemiPA9wGOHdjJkVfVnZ1mh-qpTHazASlNQfbE-wZmn8KGIv1gYWwb2vry_rJtHVRtjM9Snm_gS9lasnrsA-Hlaub3zN399BzCR7IC4Kscx7twWrCV5EhCtCrw.jpg?r=89d" alt="Even If This Love Disappears Tonight">
    <h1>Even If This Love Disappears Tonight</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXyqf9m6ckLun2OHR_1omTaFArVr2t0hnKmf1hroNBuXCLQOlJOqn8HSCPjaRWlR_07zCz1-4gLiUPAPwHd59RzSwn2pypAqnTeZGnxIqQDCNugy9TFAugBSfVyYdM-c-NvJIA.jpg?r=e26" alt="Love Untangled">
    <h1>Love Untangled</h1>
  </div>

</div>
