<h1 class="title">Epic Worlds</h1>

<div class="posters">

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQdl8JDfB6U_geLYPfd-0EWXlPSGc8KNJPbxoe4ab_zlyEQVuEo9gUEhUp9qG7oFjw_DQqHhw2cWWqvq6QNyXwgTX3nkrDS40WIoqsAcIoqusg_xI9nWlo3y6vbFT8DeEd17sA.jpg?r=fc9" alt="Genie, Make a Wish">
    <h1>Genie, Make a Wish</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQbIF0o5E-ePmPY8-QAFm6uLQG6BvPEkITEwxSA2OR4sMo0DeYfHDnOQMw7MeP-rNhkijRyD1Bp3ZpVBVoh2W4q592llUBk-cuUUeGOTULxl9mfVkF5KPPnrFdX21WnMwpgH2w.jpg?r=1bd" alt="Locke & Key">
    <h1>Locke & Key</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABbwgeg2HHusgZLDqvxPC2qoxniqTrtDQ_7qWDz9sLnZPlEtcZpCVZt5d5lAByu6uP8SRmFE5eK_NxgVTbBJtq-5O2z0M5d1myYH4eOTBZHW6ZPLEFYV7ydEiKkP4nK5bmSN-mw.jpg?r=ad5" alt="The King: Eternal Monarch">
    <h1>The King: Eternal Monarch</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYLafYSzr1VFEUZdDbmEdosWFPn4Bf8YNspgzKrKexmBvspF2BQumMM9oYVpO9i3rAEWRw8my3v5mENMIn1CJNQdRj6EtKRUePBZ9Zx5rwuNbaTwrrrMyQXrtagHcRu9cF5cWA.jpg?r=3ea" alt="Ragnarok">
    <h1>Ragnarok</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVp0s92hKsXVLFUlorKnbIPh-B5RgVZh2LcW0k3j4Rzd-5RiKN8vywbuOGOqLqAWPRcK7k_7VwwcAUg0_1iT1bSO28rSGmQOhLrbsjdQL9h5DOH-u5-veYa-f1x9cQxRNRFneQ.jpg?r=bd4" alt="Sweet Tooth">
    <h1>Sweet Tooth</h1>
  </div>
  
  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABac8snYY-Hg2fhz8XJR7tbnfsC286iPkswXPxrkXs8NN_ulx0-YQBZ0Sr50xrSpP51b5CTV5PlyaMUb4UEoH2Hf7_mvygTWwXnzfuCLwrsZAD9LiPzWpqyBdUcibHTfBudw-YA.jpg?r=9d4" alt="Mowgli: Legend of the Jungle">
    <h1>Mowgli: Legend of the Jungle</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVy2T8Wf8Qs2ioZnar46w8DWq5UR3kqJmWwOIiCIcYM_MrrYpyg6AFDepHGSv6o4ppfASegjlLq61gXC37ZyYRyLCNKZ2MFIP6s91brtR0yObUnUOcIdmXp7P4iKbw0v5giyow.jpg?r=6a3" alt="The Sandman">
    <h1>The Sandman</h1>
  </div>

  <div class="poster">
    <img src="https://occ-0-3215-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABSPLN3a8Oltlwd_O-5wJ1ID9JFVr3n20WZofMpxqVq328iqeTeyP9ShChsqkbS-l9Js_E3Oj-Hw2VEPedIkMc3GJ2KpEcK6UOp1Q7Zm2s4hirrLePZ-TCF1kJDQO5evARIUv3g.jpg?r=f47" alt="3 Body Problem">
    <h1>3 Body Problem</h1>
  </div>

</div>
