<div class="bg-banner">
  <img src="../../assets/background_image.jpg" alt="bg-banner">
  <div class="bg-banner-content">
    <h1>Netflix Originals</h1>
    <p>
      Netflix is the home of amazing original programming that you can’t find anywhere else. Movies, TV shows, specials and more, it’s all tailored specifically to you.
    </p>
    <div class="banner-input-btn">
      <input type="email" class="email-input" placeholder="Email Address">
      <button class="joinnow-btn">Join Now</button>
    </div>
    <p>Endless entertainment starting at ₹149</p>
  </div>

  <div class="movies-container">
    <h2>Indian TV Dramas</h2>
    <div class="movie-list">
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
    </div>

    <h2>Indian TV Dramas</h2>
    <div class="movie-list">
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
    </div>

    <h2>Indian TV Dramas</h2>
    <div class="movie-list">
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
      <div class="movie-card">
        <img src="../../assets/OSS.jpg" alt="Operation Safed Sagar">
        <p>Operation Safed Sagar: The Untold Story of the Kargil War</p>
      </div>
    </div>
  </div>

  <div class="plan">
    <h2>A plan to suit your needs</h2>
    <div class="plan-type">
      <div class="mobile-plan">
        <h2>Mobile</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="basic-plan">
        <h2>Best</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="standard-plan">
        <h2>Standard</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="premium-plan">
        <h2>Premium</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
        </div>
      </div>
    </div>
  </div>

    <div class="next-favourites">
      <img src="../../assets/Down-side banner.jpg" alt="bg-banner">
      <h2>Discover your next favourites, plus new releases every week</h2>
      <button class="moreonnetflix">More About Netflix</button>
    </div>

    <div class="Tudum-com">
      <img src="" alt="logo">
      <p>Read about Netflix shows and movies and watch bonus videos on <a href="">Tudum.com</a>.</p>
    </div>

    <div class="join-btn">
      <button class="join-btn">Join Now</button>
    </div>