
  <div class="plan">
    <h2>A plan to suit your needs</h2>
    <div class="plan-type">
      <div class="mobile-plan">
        <h2>Mobile</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="basic-plan">
        <h2>Best</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="standard-plan">
        <h2>Standard</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
      </div>

      <div class="premium-plan">
        <h2>Premium</h2>
        <p>480p</p>
        <p>Fair video quality</p>
        <p>For your phone or tablet</p>
        </div>
      </div>
    </div>

    <div class="next-favourites">
      <img src="../../assets/Down-side banner.jpg" alt="bg-banner">
      <h2>Discover your next favourites, plus new releases every week</h2>
      <button class="moreonnetflix">More About Netflix</button>
    </div>

    <div class="Tudum-com">
      <img src="" alt="logo">
      <p>Read about Netflix shows and movies and watch bonus videos on <a href="">Tudum.com</a>.</p>
    </div>

    <div class="join-btn">
      <button class="join-btn">Join Now</button>
    </div>